.colorWhiteText{
    color: white;
}

.colorBackNav{
    background-color: #e3f2fd;
}

.centerBar{
    text-align: center;
}

.centerBarPading{
    padding-left: 400px;
    padding: auto;
}

.bgShadow {
    box-shadow: 2px 2px 2px 2px #58aae6;
  }

